<ng-container *ngIf="inningsService.innings">
  <ol fxLayout="row wrap" fxLayoutAlign="start start">
    <li *ngFor="let batsman of inningsService.innings.batting">
      {{ batsman.name }}
    </li>
  </ol>
</ng-container>
<mat-card
  class="add-bowler"
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="inningsService.innings"
>
  <form [formGroup]="batsmanForm">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="center">
      <mat-form-field class="mainSelection">
        <mat-label>Select Batsman</mat-label>
        <mat-select formControlName="batsman">
          <mat-option *ngFor="let batsman of players" [value]="batsman">
            {{ batsman }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center start"
        fxFlexAlign="center"
      >
        <mat-form-field class="tossSelection">
          <input
            matInput
            type="number"
            placeholder="Run"
            formControlName="runs"
          />
        </mat-form-field>
        <mat-form-field class="tossSelection">
          <input
            matInput
            type="number"
            placeholder="Balls"
            formControlName="ball"
          />
        </mat-form-field>
        <mat-form-field class="tossSelection">
          <input
            matInput
            type="number"
            placeholder="Dots"
            formControlName="dots"
          />
        </mat-form-field>
        <mat-form-field class="tossSelection">
          <input
            matInput
            type="number"
            placeholder="4s"
            formControlName="fours"
          />
        </mat-form-field>
        <mat-form-field class="tossSelection">
          <input
            matInput
            type="number"
            placeholder="6s"
            formControlName="sixes"
          />
        </mat-form-field>
      </div>
      <button
        class="scoring"
        mat-raised-button
        color="primary"
        (click)="onStartScoring()"
        [disabled]="!batsmanForm.valid"
      >
        Add Batsman
      </button>
    </div>
  </form>
</mat-card>
