<div class="add-bowler" fxLayout="column" fxLayoutAlign="space-between center">
  <h2>Sign In</h2>
  <form [formGroup]="form">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center start" fxFlexAlign="center" fxFlex="30">
        <mat-form-field class="tossSelection">
          <input matInput type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="tossSelection">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
    </mat-card>
  </form>

  <button class="scoring" mat-raised-button color="primary" (click)="onSignIn()" [disabled]="!form.valid">
    Sign In
  </button>
</div>
