.tossWinner {
  width: 250px;
}

.tossSelection {
  width: 250px;
}

.tossWinnerCard {
  margin-bottom: 15px;
}

.scoring {
  position: fixed;
  bottom: 10px;
}

mat-card {
  background-color: rgba($color: grey, $alpha: .2);
}
