<mat-card class="add-bowler" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center start" fxFlexAlign="center">
    <mat-form-field class="tossSelection">
      <mat-label>Select Strike Bowler</mat-label>
      <mat-select [formControl]="strikeBowler">
        <mat-option
          *ngFor="let strikeBowler of bowlingSidePlayers"
          [value]="strikeBowler"
        >
          {{ strikeBowler }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    *ngIf="strikeBowler.value"
    class="scoring"
    mat-raised-button
    color="primary"
    (click)="onStartScoring()"
  >
    Start Scoring
  </button>
</mat-card>
