<div fxLayout="row" fxLayoutAlign="space-between center">
  <ol class="players" fxFlex="30">
    <li *ngFor="let redPlayer of teamRedSelectedPlayer" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card> {{redPlayer}} </mat-card><span (click)="remove(redPlayer)">
        <mat-icon>clear</mat-icon>
      </span>
    </li>
  </ol>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="center" fxFlex="30">
    <mat-form-field class="teamSelection" fxflex="50">
      <mat-label>Select Player For Team Red</mat-label>
      <mat-select [formControl]="teamRed" multiple>
        <mat-option *ngFor="let player of playerLeft" [value]="player">{{player}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxflex="50">
      <mat-label>Select Player For Team Green</mat-label>
      <mat-select [formControl]="teamGreen" multiple>
        <mat-option *ngFor="let player of playerLeft" [value]="player">{{player}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ol fxFlex="30" class="players">
    <li *ngFor="let greenPlayer of teamGreenSelectedPlayer" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card> {{greenPlayer}} </mat-card>
      <span class="cross" (click)="remove(greenPlayer)">
        <mat-icon>clear</mat-icon>
      </span>
    </li>
  </ol>
</div>
