<mat-card
  class="batsmanCard"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">Total</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">W</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">N</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">4B</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">6B</span>
    Arafat
  </div>
</mat-card>
