<mat-card class="batsmanCard" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">Total</span>
    {{ extra.total}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">W</span>
    {{ extra.WD}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">N</span>
    {{ extra.NB}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B</span>
    {{ extra.Bye}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B2</span>
    {{ extra.Bye2}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B3</span>
    {{ extra.Bye3}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B4</span>
    {{ extra.Bye4}}
  </div>

</mat-card>
