.batsmanCard {
  font-size: 11px;
  width: 355px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.active {
  background-color: rgba($color: green, $alpha: 0.4);
}
