<mat-card
  class="batsmanCard"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">Name</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">R</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">0</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">4s</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">6s</span>
    Arafat
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">SR</span>
    Arafat
  </div>
</mat-card>
