<mat-card class="batsmanCard" fxLayout="row" fxLayoutAlign="space-between center"
  [ngClass]="{ active: batsman.strike }">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">Name</span>
    {{ batsman.name }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">R</span>
    {{ batsman.run }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">B</span>
    {{ batsman.ball }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">0</span>
    {{ batsman.dots }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">4s</span>
    {{ batsman.fours }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">6s</span>
    {{ batsman.sixes }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">SR</span>
    {{ batsman.strikeRate }}
  </div>
</mat-card>
