<div fxLayout="column" fxLayoutAlign="center center" *ngIf="showbutton">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter a name"
        [formControl]="name"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!name.value"
      (click)="onAddName()"
    >
      Add Player
    </button>
  </div>
  <mat-error>{{ error }}</mat-error>
  <h2>Players Profile</h2>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let player of players">
    <mat-expansion-panel-header (click)="onHeaderClicked(player.name)">
      <mat-panel-title class="player-title">
        {{ player.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img *ngIf="view === player.name" src="{{ player.pic }}" alt="" />
    <h5>Batting</h5>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between start"
      class="player-title"
    >
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Matches</p>
        <p>{{ player.match }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Run</p>
        <p>{{ player.batting.run }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Ball</p>
        <p>{{ player.batting.ball }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>0s</p>
        <p>{{ player.batting.dots }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>4s</p>
        <p>{{ player.batting.fours }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>6s</p>
        <p>{{ player.batting.sixes }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Strike Rate</p>
        <p>{{ player.batting.strikeRate }}</p>
      </div>
    </div>
    <h5>Bowling</h5>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between start"
      class="player-title"
    >
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Matches</p>
        <p>{{ player.match }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Wicket</p>
        <p>{{ player.bowling.wicket }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Run</p>
        <p>{{ player.bowling.run }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>0s</p>
        <p>{{ player.bowling.dots }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>4s</p>
        <p>{{ player.bowling.fours }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>6s</p>
        <p>{{ player.bowling.sixes }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Economy</p>
        <p>{{ player.bowling.economyRate }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
