.player-title {
  font-size: 12px;
  margin: 5px 0;
  font-weight: bold;
}

mat-expansion-panel-header {
  height: 40px !important;
}

h5 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}
