.player-title {
  font-size: 12px;
  margin: 5px 0;
  font-weight: bold;
}

mat-expansion-panel-header {
  height: 40px !important;
}

h5 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

img {
  width: 30%;
  height: 30%;
}

mat-expansion-panel {
  border-radius: 20px;
  margin-top: 5px;
}

mat-expansion-panel-header {
  background-color: #f76f8c;
}
