.tossSelection {
  width: 250px;
}

.tossWinnerCard {
  margin-bottom: 15px;
  width: 300px;
  border-radius: 50px;
  background-color: rgba($color: #ff1e50, $alpha: .5);


}


.tossDetailCard {
  margin-bottom: 15px;
  width: 300px;
  border-radius: 50px;
  height: 30px;
  color: white;
  background-color: rgba($color: #04064d, $alpha: .5);

}
