.signin {
  color: green;
}

.home-icon {
  color: red;
  font-weight: bold;
}

.toolbar {
  height: 40px;
  margin-bottom: 10px;
  background: linear-gradient(to right, rgba(57, 130, 53, 1) 0%, rgba(138, 182, 107, 1) 67%, rgba(201, 222, 150, 1) 100%);
  background: linear-gradient(to right, rgba(57, 130, 53, 1) 0%, rgba(138, 182, 107, 1) 67%, rgba(201, 222, 150, 1) 100%);
}
