.signin {
  color: green;
  font-weight: bold;
}

.home-icon {
  color: green;
  font-weight: bold;
  font-size: 20px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white0,
    1px 1px 0 white;
}

.toolbar {
  height: 40px;
  background: rgba($color: rgb(248, 73, 61), $alpha: 0.5);
  margin-bottom: 10px;
}
