.signin {
  color: white;
  font-weight: bold;
  padding: 0;
}

.home-icon {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.toolbar {
  height: 40px;
  background-color: #ff1e50;
  margin-bottom: 10px;
  padding: 0;
}
