.title {
  font-size: 12px;
  margin: 5px;
}

.live-score {
  margin-top: 10px;
}

.scoring {
  position: fixed;
  bottom: 30px;
}

.add-batsman {
  margin-top: 10px;
}

mat-card {
  background-color: rgba($color: grey, $alpha: .2);
}

.tossSelection {
  width: 250px;
}
