<div class="live-score" fxLayout="column" fxLayoutAlign="center center"
  *ngIf="!changeBowler && !changeBatsman && !inningsChange && !isShowWinner">
  <h4 *ngIf="innings.inningsNumber === 2">Need {{scoreService.targetRun}} run off
    {{scoreService.targetball}} ball</h4>
  <mat-card>
    <p>
      Total: {{ scoreService.totalScore.run }}/{{ scoreService.totalScore.wicket }} Overs: {{ scoreService.totalScore.over }}.{{
        scoreService.totalScore.ball
      }}
    </p>
    <p>Current Run Rate: {{ scoreService.totalScore.runRate }}</p>
  </mat-card>
  <p class="title">Batsmen</p>
  <app-batsman [batsman]="batsman1"></app-batsman>
  <app-batsman [batsman]="batsman2"></app-batsman>
  <p class="title">Extra</p>
  <app-extra [extra]="extra"></app-extra>
  <p class="title">Bowler</p>
  <app-bowler [bowler]="bowler"></app-bowler>
  <app-runs (runEmitter)="onRunEmitter($event)"></app-runs>
  <app-ex-runs (extraEmitter)="onExtraEmitter($event)"></app-ex-runs>
  <app-wickets (outEmitter)="onOutEmitter($event)"></app-wickets>
</div>
<app-sec-player-selection *ngIf="inningsChange"></app-sec-player-selection>
<app-add-bowler *ngIf="changeBowler && !isShowWinner"></app-add-bowler>
<div class="add-batsman" fxLayout="column" fxLayoutAlign="space-between center" *ngIf="changeBatsman">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center start" fxFlexAlign="center" fxFlex="30">
      <mat-form-field class="tossSelection">
        <mat-label>Select Strike Batsman</mat-label>
        <mat-select [formControl]="strikeBatsman">
          <mat-option *ngFor="let strikeBatsman of battingSidePlayers" [value]="strikeBatsman">
            {{ strikeBatsman }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
  <button *ngIf="strikeBatsman.value" class="scoring" mat-raised-button color="primary" (click)="onaddingbatsman()">
    Start Scoring
  </button>
</div>
<div *ngIf="isShowWinner">
  <p *ngIf="winningMargin; else elseTemplate"> {{winner}} won the match by {{winningMargin}} wickets </p>

  <ng-template #elseTemplate>
    <p> {{winner}} won the match by {{winningMarginRun}} runs </p>
  </ng-template>

</div>
