<mat-card
  class="batsmanCard"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">Name</span>
    {{ bowler.name }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">O</span>
    {{ bowler.over }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">R</span>
    {{ bowler.run }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">W</span>
    {{ bowler.wicket }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">4s</span>
    {{ bowler.fours }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">6s</span>
    {{ bowler.sixes }}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="title">ECON</span>
    {{ bowler.economyRate }}
  </div>
</mat-card>
