/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  overscroll-behavior: none;
  // @media screen and (max-width: 600px) {
  //   padding: 20px 5px 20px 5px;
  // }
}

.mat-raised-button.mat-primary {
  background-color: #ff1e50 !important;
  color: white;
  font-weight: bold;
}
