<div class="home" fxLayout="column" fxLayoutAlign="start center" *ngIf="!showAdmin">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="5">
    <button mat-stroked-button [routerLink]="['/live']">Live Match</button>
    <button mat-stroked-button [routerLink]="['/scorecard']">Scorecards</button>
    <button mat-stroked-button [routerLink]="['/players']">
      Player Profile
    </button>
    <button mat-stroked-button [routerLink]="['/scorer']" *ngIf="showbutton">
      Start Scoring
    </button>
  </div>

  <img src="{{pic}}" class="bfcc-hero" alt="bfcc logo" fxFlex="30" />
  <ng-container *ngIf="announcement">
    <div class="slider" fxLayoutAlign="center center">
      <marquee>{{announcement}}</marquee>
    </div>
  </ng-container>

  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="4">
    <mat-error *ngIf="error" style="font-size:14px;">{{error}}</mat-error>
  </div>


  <img src="../assets/logo.png" class="bfcc-logo" alt="bfcc logo" fxFlex="30" />

  <div>
    <button mat-stroked-button (click)="showAdmin=true" class="invisible-button" *ngIf="showbutton">Admin</button>
  </div>
</div>

<app-admin *ngIf="showAdmin" (goBack)='goBack($event)'></app-admin>
