.home {
  height: 93vh;
}

.bfcc-logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 100;
}

button {
  font-size: 11px;
  margin: 5px 2.5px;
  font-weight: bold;
  padding: 0 10px;
}


.toolbar {
  height: 40px;
  background-color: #ff1e50;
  margin-bottom: 10px;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  background-color: rgba($color: #04064d, $alpha: .5);
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.bfcc-hero {
  width: 100vw;
  height: 200px;
  margin-top: 20px;
}

.invisible-button {
  margin-top: 20px;
  border: none;
  color: white;
}
