.home {
  height: 90vh;
}

.bfcc-logo {
  height: 200px;
  width: 200px;
}

button {
  width: 200px;
  margin: 15px;
  color: white;
  font-weight: bold;
  background-color: rgba($color: red, $alpha: .7);
}
