<div class="home" fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-stroked-button [routerLink]="['/live']">Live Match</button>
    <button mat-stroked-button [routerLink]="['/scorecard']">Scorecards</button>
    <button mat-stroked-button [routerLink]="['/players']">
      Player Profile
    </button>
    <button mat-stroked-button [routerLink]="['/scorer']" *ngIf="showbutton">
      Start Scoring
    </button>
  </div>

  <img src="../assets/logo.png" class="bfcc-logo" alt="bfcc logo" fxFlex="30" />

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="60">
    <mat-error *ngIf="error" style="font-size:14px;">{{ error }}</mat-error>

  </div>
</div>
