<div fxLayout="column" fxLayoutAlign="center center">
  <h3 *ngIf="winner" fxLayout="column" fxLayoutAlign="center center">
    <p>Winner of the match on {{ date }} is {{ winner }}.</p>
    <p>
      Live score ended. Please
      <a [routerLink]="['/scorecard']" [queryParams]="{date: date}">click here</a>
      to see the final result.
    </p>
  </h3>
  <div class="live-score" fxLayout="column" fxLayoutAlign="center center" *ngIf="totalScore">
    <h4 *ngIf="inningsNumber === 2 && targetRun">
      Need {{ targetRun }} run off {{ targetball }} ball
    </h4>
    <mat-card class="total">
      <p>
        Total: {{ totalScore.run }}/{{ totalScore.wicket }} Overs:
        {{ totalScore.over }}.{{ totalScore.ball }}
      </p>
    </mat-card>
    <mat-card class="total2" fxLayout="column" fxLayoutAlign="center center">
      <p>Current Run Rate: {{ totalScore.runRate }}</p>
    </mat-card>
    <p class="title">Batsmen</p>
    <app-batsman *ngIf="batsman1" [batsman]="batsman1"></app-batsman>
    <app-batsman *ngIf="batsman2" [batsman]="batsman2"></app-batsman>
    <p class="title">Extra</p>
    <app-extra [extra]="extra"></app-extra>
    <p class="title">Bowler</p>
    <app-bowler [bowler]="bowler"></app-bowler>
  </div>
</div>
